.tabela {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 300px;

  .celula {
    width: 33%;
    height: 100px;
    border: 1px solid black;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
  }
}

h3 {
  text-align: center;
}

.x {
  color: red;
}

.o {
  color: blue;
}

.refresh-btn {
  font-size: 30px;
}