<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jogo da velha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tabela">
    <div class="celula" (click)="check('11')">X</div> 
    <div class="celula" (click)="check('12')"></div>
    <div class="celula" (click)="check('13')"></div>
    <div class="celula" (click)="check('21')"></div>
    <div class="celula" (click)="check('22')"></div>
    <div class="celula" (click)="check('23')"></div>
    <div class="celula" (click)="check('31')"></div>
    <div class="celula" (click)="check('32')"></div>
    <div class="celula" (click)="check('33')"></div>
  </div>
</ion-content>
