<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jogo da velha
    </ion-title>

    <ion-buttons *ngIf="winner != 0" slot="end">
      <ion-icon class="refresh-btn" name="refresh-circle" (click)="refresh()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tabela">
    <div class="celula" (click)="check('11')"><span class="x" *ngIf="player1.includes('11')">X</span><span class="o" *ngIf="player2.includes('11')">O</span></div> 
    <div class="celula" (click)="check('12')"><span class="x" *ngIf="player1.includes('12')">X</span><span class="o" *ngIf="player2.includes('12')">O</span></div>
    <div class="celula" (click)="check('13')"><span class="x" *ngIf="player1.includes('13')">X</span><span class="o" *ngIf="player2.includes('13')">O</span></div>
    <div class="celula" (click)="check('21')"><span class="x" *ngIf="player1.includes('21')">X</span><span class="o" *ngIf="player2.includes('21')">O</span></div>
    <div class="celula" (click)="check('22')"><span class="x" *ngIf="player1.includes('22')">X</span><span class="o" *ngIf="player2.includes('22')">O</span></div>
    <div class="celula" (click)="check('23')"><span class="x" *ngIf="player1.includes('23')">X</span><span class="o" *ngIf="player2.includes('23')">O</span></div>
    <div class="celula" (click)="check('31')"><span class="x" *ngIf="player1.includes('31')">X</span><span class="o" *ngIf="player2.includes('31')">O</span></div>
    <div class="celula" (click)="check('32')"><span class="x" *ngIf="player1.includes('32')">X</span><span class="o" *ngIf="player2.includes('32')">O</span></div>
    <div class="celula" (click)="check('33')"><span class="x" *ngIf="player1.includes('33')">X</span><span class="o" *ngIf="player2.includes('33')">O</span></div>
  </div> 

  <h3 *ngIf="winner != 0">Player {{winner}} venceu!</h3>

  <img src="./../assets/image/victory.gif" *ngIf="winner != 0">

  <audio id="victory-audio" src="../../assets/audio/victory.mp3"></audio>
</ion-content>
